{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section>
    <div class="card" style="width: 18rem;">
        <img src={{ quizProposition.image }} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ quizProposition.title }}</h5>
            <p class="card-text">{{ quizProposition.description }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section>
<section>
    <div>Choix #1</div>
    <div>Choix #2</div>
    <div>Choix #3</div>
</section>

{% endblock %}
