body {
    background-color: sandybrown;
}

.option {
    cursor: pointer;
}

.green-border {
    border: 0.5rem;
    border-color: limegreen;
    border-style: groove;
}

.red-border {
    border: 0.5rem;
    border-color: red;
    border-style: groove;
}

.dotted-green-border {
    border: 0.5rem;
    border-color: lime;
    border-style: dotted;
}

.textbox{
    width: 84%;
    margin: 2% 7.25em;
    padding: 2%;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}